@import '../globalVariables.scss';
@import "../mixins.scss";

section{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    margin-top: 16px;
    margin-bottom: 8px;
    height: 56px;
    top: 12px;
    >div{
        backdrop-filter: blur(2px);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: $border-radius;
        width: 80%;
        height: 64px;
        background-color: var(--div-backg-color);
    }
    input{
        width: 100%;
        font-size: 24px;
        height: 48px;
        border-radius: $border-radius;
        border: none;
        background-color: transparent;
        color: var(--text-color);
        margin: 8px;
    }
    button{
        @include icon-button;
        margin-top: 8px;
        margin-bottom: 8px;
        margin-right: 8px;
    }
}

@media only screen and (min-width: 600px) {
    section{
        div{
            width: 512px;
        }
    }
}