@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'app/globalVariables.scss';

body{
    background-color: var(--backg-color);
    font-family: $font-family;
    color: var(--text-color);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--btn-color); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-bar-hover); 
}